$medium-gutter: 32.24px;
$small-gutter: 12.32px;
$quarter-box: 221px;
$half-box: 474.24;




body {
	padding:0;
	margin:0;
}

.stripe {
	min-height:410px;
	position:relative;
	padding: 3em .769em;
}

.one {
	background-color:#ccc;
}

.two {
	min-height:200px;
}

.three {
    text-align:center;
    background-color:white;
    padding-top: 1.5em;
    padding-bottom:1.5em;
}

.four {
    background-color:white;
}

.headtext{
	text-align:right;
}

.test {
	display:block;
    text-align:right;
}

.headh1 {
	font-size:1.9em;
}

.headh2 {
	font-size:1.4em;
}

.mainh2 {
    font-size:1.4em;
    display:block;
    orphans:3;
}

.twoh2 {
	
}

.circleImg {
	display:none;
	position:absolute;
	top:10em;
	right:7em;
	height:10em;
	width:10em;
	background-color:#000;
}

.list li {
	display:list-item;
	padding:0;
	padding-bottom:$medium-gutter;
	margin-left:-2.4em;
	list-style: none;
	
}
.list li:before {
 content: "\003E \020";
 font-family:"consolas";
 font-weight:200;
 margin-left:-.17em;
 width: 0.8em;
}

.list {
	border-top:black solid 1px;
	display:inline-block;
	text-align:left;
	font-family:calibri;
	margin-top:0;
	padding-top:$small-gutter;
	list-style-type:circle;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em; 
    -webkit-margin-start: 0px;
    margin-right:28px;
    max-width:181px;
    overflow:visible;
}

.listHidden {
	display:none;
	margin-right:0;
}

.tileContainer {
	display:block;
	margin:0 auto;
	text-align:center;
}

.floatTitle {
	display:block;
	width:13.8em;
	margin-top:.769em;
	background-color:rgba(255,255,255,.5);
	margin-left:calc(50% - 126px);
	border-top: solid white 1px;
    margin-right:.769em;
    
}



.threeh2 {
	font-family:"calibri";
    font-weight:200;
    text-align:left;
    display:block;
    color:black;
    margin-top:-1px;
    padding-top:8px;
    padding-bottom:.769em;
    margin-bottom:0em;
}


.tile {
	display:inline-block;
	position:relative;
	width:13.8em;
	height:8.538em;
	margin-top:.769em;
	margin-right:2.01em;
    border-top:1px solid black;
    padding-top: .769em;
    overflow:auto;
}

.listContainer {
    padding:0;
    max-width:759.48px;
    text-align:left;
    margin-top:$small-gutter;
    overflow:visible;
    border-top:none;
    min-height:265px;
}

    .tileInvis1 {
    display:none;
    }

    .tileInvis {
    display:none;
    }


h3 {
	display:block;
	min-height:2.5em;
	font-size:1.05em;
	margin:0;
	font-weight:400;
	font-family:calibri;
	text-align:left;
		
}

p {
	text-align:left;	
    font-family:Candara;
    font-size:12px;
    line-height:1.3em;
}

.tileText {
	text-align:left;
}

.floatInfo {
	display:none;
	float:right;
	margin-right: $medium-gutter;
	border:1px solid darkgrey;
	width:$quarter-box;
	min-height:12.6em;
	margin-top:33px;
}

.infoText {
	text-align:center;
}

.contactQuarter {
    display:inline-block;
    margin:0;
    margin-right: $medium-gutter;
    margin-top: $small-gutter;
}

.contactHalf {
	display: inline-block;
	margin: 0;
	margin-right: 32.24px;
    margin-top: $small-gutter;
		
	
}

h4 {
	display: block;
	font-size: 1.05em;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 400;
	font-family: calibri;
	text-align: left;
	}
	
textarea {
	margin:0;
}
	
.contactAreaQuarter {
	box-sizing:border-box;
	width: 219px;
	height: $medium-gutter;
}


#message {
	width: 221px;
	min-height: 3.5em;
}


.displayToggle {
	display:none;
}

/*--------------------------------
--------------------------------*/
@media (min-width: 404px) {

}

@media (min-width: 548px) {    
	.list .liToggle {
    display:none;
    }
    
    .list {
	
	}
	
    .listHidden {
    display:inline-block;
    }
    
    .listContainer {
    min-width:474px;
    }
    
    .floatTitle {
    margin-left:calc(50% - 15.85em);
    }
    
    .tileInvis1 {
    display:inline-block;
    }
    
    #message {
    width: $half-box;
    min-height:5.5em;
    }
}

@media (min-width: 801px) {
    .threeh2list {
    text-align:left;
    border-top: 1px solid black;
    }
    
    .listTitle {
    float:left;
    margin-left:0px;
    margin-bottom:100px;
    }
    
   
    
	.listContainer{
	min-width:727.32px;
	min-height:265px;
	padding:0;
	}
	
	ul .displayToggle {
	display:list-item;
	}

	
	.list {
	
	}
	
	.listContainer {
	
    }
	
    .tile {
    margin-right:2.01em;
    display:inline-block;
    }
    
    .tileInvis {
    display:inline-block;
    }

    .floatTitle {
    margin-left:calc(50% - 23.7em);
    }

    .floatInfo {
    display:inline-block;
    }
    
    .info {
    display:none;
    }
    
    .tileContainer {
    max-width:763px;
    }
    
     .listTileContainer {
    max-width:250px;
    }
}

@media (min-width:1054px) {
	.listContainer {
	min-height:265px;
	}
	
	.floatTitle {
	float:left;
	margin-left:0px;
	margin-bottom:22em;
	}
	
	.listTitle {
	    margin-bottom:100px;
	}
		
	.threeh2 {
    text-align:right;
    border-top: 1px solid black;
	}
	
	.tileContainer {
	max-width:1024px;
	}
}

@media (min-width:1200px){
	.tile {
	
	}
	
	.floatTitle {
	
	}
	
	.tileContainer {
	}
}















