body {
	padding:0;
	margin:0;
}

.stripe {
	min-height:410px;
	position:relative;
	padding:3em;
}

.one {
	background-color:#ccc;
}

.two {
    background-color:#aaa;
}

.three {
    text-align:center;
    background-color:#888;
    padding: 1.5em;
}

.four {
    background-color:#aaa;
}

.headtext{
	text-align:right;
}

.test {
	display:block;
    text-align:right;
}

.headh1 {
	font-size:1.9em;
}

.headh2 {
	font-size:1.4em;
}

.mainh2 {
    font-size:1.4em;
    display:block;
    orphans:3;
}

.twoh2 {
	
}

.circleImg {
	display:none;
	position:absolute;
	top:10em;
	right:7em;
	height:10em;
	width:10em;
	background-color:#000;
}

.listHolder {
	margin-top:2.8em;
	max-width:45em;
	
}


li {
	padding-top:30px;
	
}

.list {
	
}

.threeh2 {
	text-align:center;
}

.tileContainer {
	display:inline;
	text-align:center;
}

.tile {
	display:inline-block;
	position:relative;
	width:4.854101966249685em;
	height:4.854101966249685em;
	margin:1.5em;
	background-color:#fff;
	border:1px solid black;
}

.tileText{
	text-align:center;
}

.descriptionContainer {
	position:absolute;
	bottom:0px;
	width:100%;
	height:20%;
	border-top:1px solid black;
	padding-bottom:0px;
}

.description {
	text-align:center
}

.displayToggle {
	display:none;
}

/* @media desktop 

.stripe {
    padding-left: ;
}

.twoh2 {
    margin-left:calc(50% - 420px);
}


.listHolder {
    margin-top:2.8em;
    width:700px;
    margin-left:calc(50% - 400px);
}

.threeh2 {
    margin-left:calc(50% - 400px)
}

.tileContainer {
    position:relative;
    margin-left:calc(50% - 400px);
    width:900px;
}

.displayToggle {
    display:default;
}

.list {
    column-count:2;
}

*/












@media (min-width: 28.5em) and (max-width: 53.25em ) {
	.tile {
       width: 9em;
       height: 9em;
      
    }
    
    .descriptionContainer {
        display:block;
    }
    
    .tileText {
    display:none;
    }
}

@media (min-width: 53.315em) {
	.tile {
        width: 9em;
        height: 9em;
	}
	
	.descriptionContainer {
        display:block;
    }
    
    .tileText {
        display:none;
    }
    
    .tileContainer {
       max-width:36.5em;
    }
    
    .tile {
        display:inline-block;
    }
    .list { 
    list-style-position: inside;
    -moz-column-count: 2;
    -moz-column-gap: 25px;
    -webkit-column-count: 2;
    -webkit-column-gap: 25px;
    column-count: 2;
    column-gap: 25px;
    }
    .list > li {
    display:list-item;
    }
}

@media (min-width: 65.632em) {
	.circleImg {
	display:block;
	}
	.tileContainer:nth-child(2) {
	background-color:red;
	}
}


















