/*@import "compass/css3";*/
@font-face {
  font-family: "OpenSansCn";
  src: url(../fonts/OpenSans-CondLight.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/opensans-light-webfont.woff);
}
@font-face {
  font-family: "Serveroff";
  src: url(../fonts/Web_Serveroff.otf);
}
/* line 32, ../sass/index.scss */
body {
  padding: 0;
  margin: 0;
  color: #464646;
  font-family: "OpenSans";
  line-height: 1.5em;
}

/*.menu-sidebar {
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  @include box-direction(reverse);
  height: 200px;
  width: 100%;
  .content, .sidebar {
    padding: 20px;
  }
  .content {
    @include box-flex(4);
    background-color: #c5c1b4;
  }
  .sidebar {
    @include box-flex(1);
    background-color: #375f99;
    margin-right: 1px;
  }
}*/
/* line 61, ../sass/index.scss */
.myTitle {
  padding-left: .5em;
  padding-top: 4px;
  padding-right: 1em;
}

/* line 67, ../sass/index.scss */
.logo {
  max-height: 2.9em;
}

/* line 71, ../sass/index.scss */
.stripe {
  position: relative;
  padding: 3em .769em;
}

/* line 76, ../sass/index.scss */
.one {
  background: url("../img/scientist.jpg");
  background-position: 85% 0px;
  min-height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 84, ../sass/index.scss */
.two {
  min-height: 450px;
  padding-bottom: 1em;
}

/* line 89, ../sass/index.scss */
.three {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* line 98, ../sass/index.scss */
.headtext {
  text-align: right;
  margin-right: 32.24px;
  margin-top: -2em;
}

/* line 104, ../sass/index.scss */
.test {
  display: block;
  text-align: right;
}

/* line 110, ../sass/index.scss */
.headh1 {
  font-size: 1.9em;
  font-family: "OpenSans";
  text-align: left;
  min-width: 300px;
  max-width: 301px;
  margin-left: calc(50% - 108px);
  margin-right: 0px;
  padding-right: 0;
  padding-left: 0;
  font-weight: 200;
}

/* line 122, ../sass/index.scss */
.headh2 {
  font-size: 1.2em;
  font-family: "OpenSans";
  text-align: left;
  min-width: 300px;
  max-width: 301px;
  margin-left: calc(50% - 108px);
  margin-right: 0px;
  padding-right: 0;
  padding-left: 0;
  font-weight: 200;
}

/* line 135, ../sass/index.scss */
.mainh2 {
  font-size: 1.4em;
  display: block;
  orphans: 3;
}

/* line 144, ../sass/index.scss */
.circleImg {
  display: none;
  position: absolute;
  top: 10em;
  right: 7em;
  height: 10em;
  width: 10em;
  background-color: #000;
}

/* line 154, ../sass/index.scss */
.list {
  margin-left: 0;
  padding-left: 0;
}

/* line 159, ../sass/index.scss */
.list li {
  display: list-item;
  padding: 0;
  line-height: 1.4em;
  font-family: "OpenSans";
  padding-bottom: 32.24px;
  margin-left: -2.4em;
  list-style: none;
  padding-left: 2.5em;
}

/* line 171, ../sass/index.scss */
.list li:before {
  content: "\003E \020";
  font-family: "consolas";
  font-weight: 200;
  font-size: .8em;
  padding-top: 0em;
  margin-left: -.17em;
  width: 0.8em;
  float: left;
  margin-bottom: .5em;
}

/* line 183, ../sass/index.scss */
.list {
  border-top: #008cba solid 1px;
  display: inline-block;
  text-align: left;
  margin-top: 0;
  padding-top: 15px;
  list-style-type: circle;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  margin-right: 28px;
  max-width: 221px;
  overflow: visible;
}

/* line 198, ../sass/index.scss */
.listHidden {
  display: none;
  margin-right: 0;
}

/* line 203, ../sass/index.scss */
.tileContainer {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* line 209, ../sass/index.scss */
.floatTitle {
  display: block;
  width: 13.8em;
  margin-top: .769em;
  margin-left: calc(50% - 126px);
  border-top: solid rgba(225, 225, 225, 0) 1px;
  margin-right: .769em;
}

/* line 221, ../sass/index.scss */
.threeh2 {
  font-family: "OpenSans";
  font-weight: 200;
  font-size: 1.4em;
  text-align: left;
  display: block;
  color: #646464;
  margin-top: -1px;
  padding-top: 7px;
  padding-bottom: .769em;
  margin-bottom: 0em;
}

/* line 234, ../sass/index.scss */
.tile {
  display: inline-block;
  position: relative;
  width: 13.8em;
  min-height: 200px;
  margin-top: .769em;
  margin-right: 2.01em;
  border-top: 1px solid #a8a8a8;
  padding-top: .769em;
  overflow: auto;
}

/* line 246, ../sass/index.scss */
.listContainer {
  padding: 0;
  max-width: 759.48px;
  text-align: left;
  margin-top: 12.32px;
  overflow: visible;
  border-top: none;
  min-height: 265px;
}

/* line 256, ../sass/index.scss */
.tileInvis1 {
  display: none;
}

/* line 260, ../sass/index.scss */
.tileInvis {
  display: none;
}

/* line 265, ../sass/index.scss */
h3 {
  display: block;
  min-height: 3.5em;
  font-size: 1.05em;
  margin: 0;
  font-weight: 400;
  font-family: "OpenSans";
  text-align: left;
}

/* line 276, ../sass/index.scss */
.catalog {
  padding-bottom: 0;
  padding-top: .2em;
  margin-top: 2.8em;
  background-color: rgba(0, 55, 73, 0.075);
}

/* line 292, ../sass/index.scss */
p {
  text-align: left;
  font-family: "OpenSans";
  font-size: 13px;
  line-height: 1.5em;
  margin: 1em 0;
  color: #5a5a5a;
  margin: .5em 0;
}

/* line 302, ../sass/index.scss */
.plarge {
  font-size: 1rem;
}

/* line 308, ../sass/index.scss */
.tileText {
  text-align: left;
}

/* line 312, ../sass/index.scss */
.floatInfo {
  display: none;
  float: right;
  margin-right: 32.24px;
  width: 221px;
  min-height: 12.6em;
  margin-top: 12.32px;
  padding: 0;
  text-align: left;
}

/* line 323, ../sass/index.scss */
.infoText {
  font-family: "OpenSans";
  font-size: 1.05em;
  line-height: 1.4em;
}

/* line 329, ../sass/index.scss */
.mailLink {
  color: #008cba;
  text-decoration: underline;
}

/* line 334, ../sass/index.scss */
.contactTitle {
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 31px;
}

/* line 339, ../sass/index.scss */
.contactInfoTitle {
  color: #008cba;
}

/* line 343, ../sass/index.scss */
#contactForm {
  margin-bottom: 16px;
}

/* line 347, ../sass/index.scss */
.contactQuarter {
  display: inline-block;
  margin: 0;
  margin-right: 32.24px;
  margin-top: 12.32px;
}

/* line 354, ../sass/index.scss */
.contactHalf {
  display: inline-block;
  margin: 0;
  margin-right: 32.24px;
  margin-top: 12.32px;
}

/* line 361, ../sass/index.scss */
input {
  font-family: "OpenSans";
  border: #a8a8a8 1px solid;
  padding-left: .5em;
}

/* line 367, ../sass/index.scss */
h4 {
  display: block;
  font-size: 1.05em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-family: "OpenSans";
  text-align: left;
}

/* line 379, ../sass/index.scss */
textarea {
  margin: 0;
  font-family: "OpenSans";
  border: #a8a8a8 1px solid;
  padding-left: .5em;
}

/* line 386, ../sass/index.scss */
input:focus {
  border: 1px solid #008cba;
}

/* line 390, ../sass/index.scss */
textarea:focus {
  border: 1px solid #008cba;
}

/* line 394, ../sass/index.scss */
.contactAreaQuarter {
  box-sizing: border-box;
  width: 219px;
  height: 32.24px;
}

/* line 401, ../sass/index.scss */
#message {
  width: 221px;
  min-height: 3.5em;
}

/* line 407, ../sass/index.scss */
.displayToggle {
  display: none;
}

/* line 411, ../sass/index.scss */
.button1 {
  float: left;
  color: #464646;
  height: 32.24px;
  width: 110px;
  border: 1px solid #a8a8a8;
  font-family: "OpenSans";
  margin-left: calc(50% - 127px);
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  text-decoration: none;
}

/* line 425, ../sass/index.scss */
.button1:hover {
  border: 1px solid #008cba;
  color: #008cba;
  cursor: pointer;
}

/* line 431, ../sass/index.scss */
.firstTile {
  border-color: #008cba;
}

/* line 435, ../sass/index.scss */
.firstList {
  border-color: #008cba;
}

/* line 439, ../sass/index.scss */
img.form-success {
  max-height: 1.5rem;
  float: left;
}

/* line 443, ../sass/index.scss */
div.form-success {
  text-align: left;
  line-height: 1rem;
  margin: 1rem;
}

/*--------------------------------
--------------------------------*/
@media (min-width: 0px) and (max-width: 534px) {
  /* line 452, ../sass/index.scss */
  .test {
    margin-top: -5em;
  }

  /* line 456, ../sass/index.scss */
  .headtext {
    display: none;
  }
}
@media (min-width: 535px) {
  /* line 465, ../sass/index.scss */
  .one {
    min-height: 300px;
    background-position: 60% 0;
  }

  /* line 470, ../sass/index.scss */
  .headh1 {
    text-align: left;
    min-width: 300px;
    max-width: 400px;
    margin-left: calc(50% - 8em);
    margin-right: 0px;
    padding-right: 0;
    padding-left: 0;
  }

  /* line 479, ../sass/index.scss */
  .headh2 {
    text-align: left;
    min-width: 300px;
    max-width: 301px;
    margin-left: calc(50% - 10.85em);
    margin-right: 0px;
    padding-right: 0;
    padding-left: 0;
  }

  /* line 489, ../sass/index.scss */
  .fullWidthTile {
    width: calc(13.8em * 2 + 2.01em * 1);
  }
}
@media (min-width: 535px) {
  /* line 496, ../sass/index.scss */
  .secondTile {
    border-color: #008cba;
  }

  /* line 500, ../sass/index.scss */
  .one {
    min-height: 300px;
  }

  /* line 504, ../sass/index.scss */
  .headh1 {
    text-align: left;
    min-width: 300px;
    max-width: 350px;
    margin-left: calc(50% - 8em);
    margin-right: 0px;
    padding-right: 0;
    padding-left: 0;
  }

  /* line 513, ../sass/index.scss */
  .headh2 {
    text-align: left;
    min-width: 300px;
    max-width: 301px;
    margin-left: calc(50% - 12.45em);
    margin-right: 0px;
    padding-right: 0;
    padding-left: 0;
  }

  /* line 522, ../sass/index.scss */
  .two {
    min-height: 0px;
  }

  /* line 526, ../sass/index.scss */
  .list .liToggle {
    display: none;
  }

  /* line 533, ../sass/index.scss */
  .listHidden {
    display: inline-block;
  }

  /* line 537, ../sass/index.scss */
  .listContainer {
    min-width: 480px;
  }

  /* line 541, ../sass/index.scss */
  .floatTitle {
    margin-left: calc(50% - 15.85em);
  }

  /* line 545, ../sass/index.scss */
  .button1 {
    margin-left: calc(50% - 15.85em);
  }

  /* line 549, ../sass/index.scss */
  .tileInvis1 {
    display: inline-block;
  }

  /* line 553, ../sass/index.scss */
  #message {
    width: 474.24;
    min-height: 5.15em;
  }
}
@media (min-width: 784px) {
  /* line 560, ../sass/index.scss */
  .thirdTile {
    border-color: #008cba;
  }

  /* line 567, ../sass/index.scss */
  .firstList {
    border-color: #a8a8a8;
  }

  /* line 571, ../sass/index.scss */
  .one {
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* line 577, ../sass/index.scss */
  .headh1, .headh2 {
    margin-left: calc(50% - 11.9em);
    max-width: 850px;
  }

  /* line 583, ../sass/index.scss */
  .headh2 {
    margin-left: calc(50% - 15.42em);
  }

  /* line 590, ../sass/index.scss */
  .threeh2list {
    text-align: left;
    border-top: 1px solid #008cba;
  }

  /* line 595, ../sass/index.scss */
  .listTitle {
    float: left;
    margin-left: 0px;
    margin-bottom: 100px;
  }

  /* line 603, ../sass/index.scss */
  .listContainer {
    min-width: 727.32px;
    min-height: 265px;
    padding: 0;
  }

  /* line 609, ../sass/index.scss */
  ul .displayToggle {
    display: list-item;
  }

  /* line 622, ../sass/index.scss */
  .tile {
    margin-right: 2.01em;
    display: inline-block;
  }

  /* line 627, ../sass/index.scss */
  .tileInvis {
    display: inline-block;
  }

  /* line 631, ../sass/index.scss */
  .floatTitle {
    margin-left: calc(50% - 23.74em);
  }

  /* line 635, ../sass/index.scss */
  .button1 {
    margin-left: calc(50% - 23.74em);
  }

  /* line 639, ../sass/index.scss */
  .floatInfo {
    display: inline-block;
  }

  /* line 643, ../sass/index.scss */
  .info {
    display: none;
  }

  /* line 647, ../sass/index.scss */
  .tileContainer {
    max-width: 763px;
  }

  /* line 651, ../sass/index.scss */
  .listTileContainer {
    max-width: 250px;
  }

  /* line 655, ../sass/index.scss */
  .fullWidthTile {
    width: calc(13.8em * 3 + 2.01em * 2);
  }
}
@media (min-width: 1054px) {
  /* line 663, ../sass/index.scss */
  .one {
    background-position: 50% 0;
  }

  /* line 667, ../sass/index.scss */
  .headh1, .headh2 {
    margin-left: calc(50% - 16.35em);
  }

  /* line 672, ../sass/index.scss */
  .headh2 {
    margin-left: calc(50% - 22.35em);
  }

  /* line 676, ../sass/index.scss */
  .floatInfo {
    margin-top: 27px;
  }

  /* line 683, ../sass/index.scss */
  .topRow {
    padding-top: 15px;
  }

  /* line 687, ../sass/index.scss */
  #contactForm {
    margin-bottom: 16px;
  }

  /* line 691, ../sass/index.scss */
  .contactTitle {
    border-bottom: none;
  }

  /* line 695, ../sass/index.scss */
  .listContainer {
    min-height: 265px;
  }

  /* line 699, ../sass/index.scss */
  .floatTitle {
    float: left;
    margin-left: 0px;
    margin-bottom: 26em;
  }

  /* line 705, ../sass/index.scss */
  .button1 {
    margin-left: calc(50% - 30.98em);
  }

  /* line 709, ../sass/index.scss */
  .listTitle {
    margin-bottom: 100px;
  }

  /* line 713, ../sass/index.scss */
  .threeh2 {
    text-align: right;
    border-top: 1px solid #008cba;
  }

  /* line 718, ../sass/index.scss */
  .tileContainer {
    max-width: 1024px;
  }

  /* line 722, ../sass/index.scss */
  .marginFix {
    margin-bottom: 50px;
  }
}
