/* line 9, ../sass/main.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 14, ../sass/main.scss */
.stripe {
  min-height: 410px;
  position: relative;
  padding: 3em .769em;
  border-top: black 1px solid;
}

/* line 21, ../sass/main.scss */
.one {
  background-color: #ccc;
}

/* line 25, ../sass/main.scss */
.two {
  background-color: #aaa;
}

/* line 29, ../sass/main.scss */
.three {
  text-align: center;
  background-color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* line 36, ../sass/main.scss */
.four {
  background-color: white;
}

/* line 40, ../sass/main.scss */
.headtext {
  text-align: right;
}

/* line 44, ../sass/main.scss */
.test {
  display: block;
  text-align: right;
}

/* line 49, ../sass/main.scss */
.headh1 {
  font-size: 1.9em;
}

/* line 53, ../sass/main.scss */
.headh2 {
  font-size: 1.4em;
}

/* line 57, ../sass/main.scss */
.mainh2 {
  font-size: 1.4em;
  display: block;
  orphans: 3;
}

/* line 67, ../sass/main.scss */
.circleImg {
  display: none;
  position: absolute;
  top: 10em;
  right: 7em;
  height: 10em;
  width: 10em;
  background-color: #000;
}

/* line 77, ../sass/main.scss */
.listHolder {
  margin-top: 2.8em;
  max-width: 45em;
}

/* line 84, ../sass/main.scss */
li {
  padding-top: 30px;
}

/* line 93, ../sass/main.scss */
.tileContainer {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* line 99, ../sass/main.scss */
.floatTitle {
  display: block;
  width: 13.8em;
  margin-top: .769em;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: calc(50% - 126px);
  border-top: solid white 1px;
  margin-right: .769em;
}

/* line 112, ../sass/main.scss */
.threeh2 {
  font-family: "calibri";
  font-weight: 200;
  text-align: left;
  display: block;
  color: black;
  margin-top: -1px;
  padding-top: 8px;
  padding-bottom: .769em;
  margin-bottom: 0em;
}

/* line 124, ../sass/main.scss */
.tile {
  display: inline-block;
  position: relative;
  width: 13.8em;
  height: 8.538em;
  margin-top: .769em;
  margin-right: 2.01em;
  border-top: 1px solid black;
  padding-top: .769em;
  overflow: auto;
}

/* line 136, ../sass/main.scss */
.tileInvis1 {
  display: none;
}

/* line 140, ../sass/main.scss */
.tileInvis {
  display: none;
}

/* line 145, ../sass/main.scss */
h3 {
  display: block;
  min-height: 2.5em;
  font-size: 1.05em;
  margin: 0;
  font-weight: 400;
  font-family: calibri;
  text-align: left;
}

/* line 156, ../sass/main.scss */
p {
  text-align: left;
  font-family: Candara;
  font-size: 12px;
  line-height: 1.3em;
}

/* line 165, ../sass/main.scss */
.tileText {
  text-align: left;
}

/* line 169, ../sass/main.scss */
.contactQuarter {
  display: inline-block;
  margin: 0;
  margin-right: 32.24px;
}

/* line 175, ../sass/main.scss */
.contactHalf {
  display: inline-block;
}

/* line 181, ../sass/main.scss */
h4 {
  display: block;
  font-size: 1.05em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-family: calibri;
  text-align: left;
}

/* line 193, ../sass/main.scss */
textarea {
  margin: 0;
}

/* line 197, ../sass/main.scss */
.contactAreaQuarter {
  box-sizing: border-box;
  width: 221px;
  height: 32.24px;
  margin: 0 32.24px 32.24px 0;
}

/* line 205, ../sass/main.scss */
#message {
  width: 291px;
  min-height: 3.5em;
}

/* line 210, ../sass/main.scss */
.displayToggle {
  display: none;
}

/*--------------------------------
--------------------------------*/
@media (min-width: 548px) {
  /* line 219, ../sass/main.scss */
  .floatTitle {
    margin-left: calc(50% - 15.85em);
  }

  /* line 223, ../sass/main.scss */
  .tileInvis1 {
    display: inline-block;
  }

  /* line 227, ../sass/main.scss */
  #message {
    width: 474.24;
  }
}
@media (min-width: 801px) {
  /* line 234, ../sass/main.scss */
  .tile {
    margin-right: 2.01em;
    display: inline-block;
  }

  /* line 239, ../sass/main.scss */
  .tileInvis {
    display: inline-block;
  }

  /* line 243, ../sass/main.scss */
  .floatTitle {
    margin-left: calc(50% - 23.7em);
  }
}
@media (min-width: 1054px) {
  /* line 249, ../sass/main.scss */
  .floatTitle {
    float: left;
    margin-left: 0px;
    margin-bottom: 22em;
  }

  /* line 255, ../sass/main.scss */
  .threeh2 {
    text-align: right;
    border-top: 1px solid black;
  }

  /* line 260, ../sass/main.scss */
  .tileContainer {
    max-width: 1024px;
  }
}
@media (min-width: 1200px) {
  /* line 266, ../sass/main.scss */
  .tile {
    margin-right: 2.01em;
  }

  /* line 271, ../sass/main.scss */
  .floatTitle {
    margin-right: 2.01em;
  }

  /* line 276, ../sass/main.scss */
  .tileContainer {
    max-width: 1020px;
  }
}
